<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>260223110886-10vkkeqg35ttgviec3da39cpht4u885p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260223110886-10vkkeqg35ttgviec3da39cpht4u885p</string>
	<key>API_KEY</key>
	<string>AIzaSyBO9BhrJSoQUalr4Kw8fuWAgTLrcG4b_HA</string>
	<key>GCM_SENDER_ID</key>
	<string>260223110886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tanaka.DepositSimulator</string>
	<key>PROJECT_ID</key>
	<string>deposit-df3c7</string>
	<key>STORAGE_BUCKET</key>
	<string>deposit-df3c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260223110886:ios:0aedfcdec5cd6917</string>
	<key>DATABASE_URL</key>
	<string>https://deposit-df3c7.firebaseio.com</string>
</dict>
</plist>